$bg: #010104;
$text: #ebe9fc;
$primary: #3a31d8;
$secondary: #020024;
$accent: #0600c2;

body {
	background-color: $bg;
}

p,
h1,
h2,
h3 {
	color: $text;
}

html {
	font-size: 14px;
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
	box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 60px;
}
